ffxiv-job-bar/bin/Debug/ffxiv-job-bar.exe
ffxiv-job-bar/bin/Debug/ffxiv-job-bar.exe
ffxiv-job-bar/bin/Debug/ffxiv-job-bar.pdb
ffxiv-job-bar/bin/Debug/ffxiv-job-bar.vshost.exe.manifest
ffxiv-job-bar/bin/Debug/ffxiv-job-bar.vshost.exe.manifest
ffxiv-job-bar/bin/Debug/ffxiv-job-bar.vshost.exe.manifest
ffxiv-job-bar/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ffxiv-job-bar/obj/x86/Debug/ffxiv-job-bar.csproj.FileListAbsolute.txt
ffxiv-job-bar/obj/x86/Debug/ffxiv-job-bar.exe
ffxiv-job-bar/obj/x86/Debug/ffxiv-job-bar.pdb
ffxiv-job-bar/obj/x86/Debug/ffxiv_job_bar.JobConfigureForm.resources
ffxiv-job-bar/obj/x86/Debug/ffxiv_job_bar.MainForm.resources
ffxiv-job-bar/obj/x86/Debug/ffxiv_job_bar.Properties.Resources.resources
ffxiv-job-bar/obj/x86/Debug/ffxiv_job_bar.SettingsForm.resources
ffxiv-job-bar/obj/x86/Debug/GenerateResource.read.1.tlog
ffxiv-job-bar/obj/x86/Debug/GenerateResource.write.1.tlog
ffxiv-job-bar/app.config
ffxiv-job-bar/bin/Debug/ffxiv-job-bar.exe.config
ffxiv-job-bar/bin/Debug/ffxiv-job-bar.vshost.exe.config
ffxiv-job-bar/bin/Debug/ffxiv_job_bar.db
ffxiv-job-bar/ffxiv-job-bar.csproj.user
ffxiv-job-bar/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
ffxiv-job-bar/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
ffxiv-job-bar/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
ffxiv-job-bar/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
ffxiv-job-bar/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
ffxiv-job-bar/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ffxiv-job-bar/obj/x86/Debug/ResolveAssemblyReference.cache
ffxiv-job-bar/packages.config
packages/repositories.config
